---
import Section from "./Section.astro";
---

<Section
  title=""
  subtitle=""
  color="white"
  id="website"
>


<div slot="footer" class="grid grid-cols-1 gap-16 lg:grid-cols-3 lg:gap-8 mx-auto">
  <div class=" h-40 w-40 sm:h-48 sm:w-48 rounded-full bg-gray-100 pt-20">Redes Sociales</div>
  <div class="h-48 w-48 rounded-full bg-gray-100 pt-20">Diseño </div>
  <div class="h-48 w-48 rounded-full bg-gray-100 pt-20">Campañas de Ventas</div>
</div>
  <!-- <div slot="footer" class="gap-x-6 flex mx-auto"> -->
    <!-- <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Explorar inventario</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Pedido personalizado</a
    > -->
  <!-- </div> -->

  <img
    slot="background"
    alt="Website"
    class="h-full w-full object-cover object-center"
    src="website.avif"
    id="bg-image-website"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  var imageElement = document.querySelector("#bg-image-website") as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "website.webp";
  } else {
    imageElement.src = "website.avif";
  }
</script>
